lxml==4.9.1
nest-asyncio==1.5.5
packaging==21.3
pip==23.0
plotly==5.9.0
prompt-toolkit==3.0.20
setuptools==65.5.0
streamlit==1.15.2
tenacity==8.0.1
textdistance==4.2.1
ujson==5.4.0
Unidecode==1.2.0
yfinance==0.1.87
seaborn==0.12.1
fundamentus==0.2.0
vectorbt==0.24.3
statsmodels==0.13.5
FPDF==1.7.2
arch==6.0.10
cvxpy>=1.3
scipy>=1.1.0
matplotlib==3.6.0
pandas==1.5.3
numpy==1.23.5
xlsxwriter==3.0.8
networkx==3.0
astropy==4.3.1
pybind11==2.10.3
riskfolio-lib==4.0.0



