plotly==5.9.0
streamlit==1.15.2
yfinance==0.1.87
seaborn==0.12.1
fundamentus==0.2.0
vectorbt==0.24.3
FPDF==1.7.2
numpy>=1.17.0
scipy>=1.0.1
pandas>=1.0.0
matplotlib>=3.5.0
cvxpy>=1.1.7
scikit-learn>=1.0.0
statsmodels>=0.10.1
arch>=4.15
XlsxWriter>=1.3.7
networkx>=2.5.1
astropy>=4.3.1
riskfolio-lib==4.1.1



